/* Page Title ================================================================================= */
:root {
    --header-color: #172121;
    --blue-gradient: #00C9FF;
    --purple-gradient: #88009d;
    --bg-img: linear-gradient(180deg, var(--blue-gradient), var(--purple-gradient));
}

body {
    display: absolute;
    margin: auto;
    background-color: rgb(16, 17, 18);
    position: relative;
    overflow-x: hidden;

    max-width: 1500px;
}

.content {
    margin: 0 5%;
}

/* Set font syles */
header {
    margin: 0;
    width: auto;
    height: auto;

    background-image: var(--bg-img);

    clip-path: ellipse(60% 100px at 50% 20%);
}   

h1, h2 {
  font-family: "Fruktur", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
    margin: 0;
    position: relative;
    top: 50%;
    bottom: 50%;
    text-align: center;
    font-size: 100px;
    color: var(--header-color);
}

p {
    font-family: "Unkempt", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Kranky", serif;
    font-weight: 400;
    font-style: normal;
}

/* The subheadings ========================================================================== */
/* Divider */
.section-div {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center;
    margin: 5px 0;
}

.div-line {
    flex: 2; /* Allow line to stretch and fill space */
    height: 6px;
    background-color: var(--purple-gradient);
    margin: 0 10px;
    border-radius: 5px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: auto;
    max-width: fit-content;

    color: var(--header-color);
    font-size: 3rem;
    text-align: center;

    background-image: var(--bg-img);
    border-radius: 10px;
    padding: 0 10px;
}

/* About ================================================================================= */
.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: var(--blue-gradient);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
}

.profile {
    width: 25%;
    height: auto;
    margin: 10px;
    object-fit: cover;
    border-radius: 100%;
}

.intro-text, .other-info h3, .other-info p {
    width: auto;
    background-color: var(--blue-gradient);

    margin: 0;
    padding: 5px 20px;
}

.intro-text p, .other-info p {
    font-size: 30px;
}

.intro-text h3, .other-info h3 {
    font-size: 40px;
}

.other-info {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 10px;

    background-color: var(--blue-gradient);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.other-info.smaller {
    width: 80%;
}
/* Gallery ================================================================================= */
.image-grid {
    --gap: 20px; /* The gap between the photos */
    --num-col: 4;
    --row-height: 300px;

    box-sizing: border-box; /* Make sure that the padding does not increase the entire width of the container */
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-col), 1fr); /* Four equals grid column */
    grid-auto-rows: var(--row-height); /* Unlimited amount of 300px rows in the grid */
    gap: var(--gap);

}

.image-items {
    position: relative;
    overflow: hidden; /* To hide any overflow */
    border-radius: 10px;
}

/* Targetting the img in the grid */
.image-items img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* For the img to take up 2 column */
.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-col-2 .description {
    font-size: 1.2em;
}

.image-grid-row-2 {
    grid-row: span 2;
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.85);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.6s; /* Smooth transition */

    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
}

.description h3 {
    color: #b700d3;
    margin: 0;
    padding: 0 20px 3px 20px;
    font-size: 20px;
}

.description p {
    color: #b700d3;
    margin: 0;
    padding: 0 20px;
    font-size: 15px;
}

.description.bigger-fonts h3 {
    font-size: 40px;
}

.description.bigger-fonts p {
    font-size: 30px;
}

/* When hover the image */
.image-items:hover {
    transform: scale(1.01);
    transition: transform 200ms;
    overflow: hidden;
    z-index: 2;
}

.image-items:hover .description {
    opacity: 1;
}

/* Screen ================================================================================= */
/* Anything under 151px... (just in case) */
@media screen and (max-width: 600px) {
    .intro-text h3, .other-info h3 {
        font-size: 20px;
    }

    .intro-text p, .other-info p {
        font-size: 10px;
    }

    h1 {
        font-size: 70px;
    }
}

/* For mobile phones */
@media screen and (max-width: 1024px) {
    .image-grid {
        --num-col: 2;
        --row-height: 250px;
    }
    .description.bigger-fonts h3 {
        font-size: 30px;
    }

    .description.bigger-fonts p {
        font-size: 20px;
    }

    .other-info h3, .intro-text h3 {
        font-size: 30px;
    }

    .other-info p, .intro-text p {
        font-size: 20px;
    }
}

/* For a computer, laptop screen */
@media screen and (min-width: 1025px) {
    .image-grid-col-2 {
        grid-row: span 3;
    }

    .image-grid-row-2:last-of-type {
        grid-column: span 4;
    }

    .image-grid-row-2:first-of-type {
        grid-column: span 2;
    }
}

/* Anything over 1440px... (for large monitor) */
@media screen and (min-width: 1440px) {
    .image-grid-row-2:last-of-type {
        grid-column: span 4;
    }

    .description h3 {
        font-size: 25px;
    }

    .description p {
        font-size: 20px;
    }

    .description.bigger-fonts h3 {
        font-size: 50px;
    }

    .description.bigger-fonts p {
        font-size: 40px;
    }
}

