body {
    margin: 0;
    background-color: rgb(255, 223, 173);
    position: relative;
    overflow-x: hidden;
}

.content {
    margin: 0 5%;
}

h1, legend {
  font-family: "Fruktur", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header {
    margin: 0;
    text-align: center;
    width: auto;
    height: auto; 

    max-height: 300px;
    background-color: #39a2ae;
    background-size: 2000px;
    border-radius: 0 0 20px 20px;

    clip-path: url(#my-clip-path);
}   

.svg {
    position: absolute;
    width: 0;
    height: 0;
  }

h1 {
    margin: 0;
    position: relative;
    top: 50%;
    bottom: 50%;
    --shadow-color: #fff;
    --text-color: #172121;
    font-size: 100px;
    color: var(--text-color);
}

/* The subheadings */
legend {
    color:#172121;
    font-size: 3rem;
    text-align: center;
}

.image-grid {
    --gap: 20px; /* The gap between the photos */
    --num-col: 4;
    --row-height: 300px;

    box-sizing: border-box; /* Make sure that the padding does not increase the entire width of the container */
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-col), 1fr); /* Four equals grid column */
    grid-auto-rows: var(--row-height); /* Unlimited amount of 300px rows in the grid */
    gap: var(--gap);

}

.image-items {
    position: relative;
    overflow: hidden; /* To hide any overflow */
    border-radius: 10px;
}

/* Targetting the img in the grid */
.image-items img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.6s; /* Smooth transition */
}

/* For the img to take up 2 column */
.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

/* Anything under 1024px... (for mobile device) */
@media screen and (max-width: 1024px) {
    .image-grid {
        --num-col: 2;
        --row-height: 250px;
    }
}

@media screen and (min-width: 1025px) {
    .image-grid-col-2:first-of-type {
        grid-row: span 2;
    }
}
/* Anything over 1440px... (for large monitor) */
@media screen and (min-width: 1440px) {
    .image-items {
        grid-row: span 2;
    }

    .image-grid-row-2:last-of-type {
        grid-column: span 3;
    }
}
/* When hover the image */
.image-items:hover {
    transform: scale(1.05);
    transition: transform 200ms;
    overflow: hidden;
    z-index: 2;
    .description {
        opacity: 1;
    }
}

.description h3 {
    position: relative;
    text-align: center;
    box-shadow: rgb(255, 223, 173);
}

.description h3, p {
    position: relative;
    top: 50%;
    bottom: 50%;
    color:rgb(255, 223, 173); 
    padding: 0 20px;
    text-wrap: wrap;
}

fieldset {
    border: 5px solid #39a2ae;
    border-radius: 10px;
    margin: 30px 0;
}
