/* Page Title ================================================================================= */
:root {
    --header-color: #172121;
    --blue-gradient: #00C9FF;
    --purple-gradient: #a400bd;
}

body {
    margin: 0;
    background-color: rgb(16, 17, 18);
    position: relative;
    overflow-x: hidden;
}

.content {
    margin: 0 5%;
}

/* Set font syles */
h1, legend {
  font-family: "Fruktur", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header {
    margin: 0;
    width: auto;

    background-image: linear-gradient(180deg, var(--blue-gradient), var(--purple-gradient));

    clip-path: ellipse(70% 150px at 50% 1%);
}   

h1 {
    margin: 0;
    position: relative;
    top: 50%;
    bottom: 50%;
    text-align: center;
    font-size: 100px;
    color: var(--header-color);
}

/* The subheadings */
legend {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;

    color: var(--header-color);
    font-size: 3rem;
    text-align: center;

    background-image: linear-gradient(180deg, var(--blue-gradient), var(--purple-gradient));
    border-radius: 10px;
    margin: 0 10px;
}

/* Profile ================================================================================= */
legend > img {
    width: 50%;
    height: auto;
}

/* Gallery ================================================================================= */
.image-grid {
    --gap: 20px; /* The gap between the photos */
    --num-col: 4;
    --row-height: 300px;

    box-sizing: border-box; /* Make sure that the padding does not increase the entire width of the container */
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-col), 1fr); /* Four equals grid column */
    grid-auto-rows: var(--row-height); /* Unlimited amount of 300px rows in the grid */
    gap: var(--gap);

}

.image-items {
    position: relative;
    overflow: hidden; /* To hide any overflow */
    border-radius: 10px;
}

/* Targetting the img in the grid */
.image-items img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* For the img to take up 2 column */
.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-col-2 .description {
    font-size: 1.2em;
}

.image-grid-row-2 {
    grid-row: span 2;
}

/* Anything under 1024px... (for mobile device) */
@media screen and (max-width: 1024px) {
    .image-grid {
        --num-col: 2;
        --row-height: 250px;
    }
}

/* For a computer/ laptop screen */
@media screen and (min-width: 1025px) {
    .image-grid-col-2 {
        grid-row: span 3;
    }
    .image-grid-row-2:last-of-type {
        grid-column: span 4;
    }
    .image-grid-row-2:first-of-type {
        grid-column: span 2;
    }
}

/* Anything over 1440px... (for large monitor) */
@media screen and (min-width: 1440px) {
    .image-grid-row-2:last-of-type {
        grid-column: span 4;
    }
    .description {
        font-size: 1em;
    }

    .description:last-of-type {
        font-size: 2em; 
    }
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.85);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.6s; /* Smooth transition */

    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
}

.description h3, .description p {
    color: #b011ad;
    padding: 0 20px;
}

.description h3 {
    margin: 0;
    padding-bottom: 3px;
}

.description p {
    margin: 0;
}

/* When hover the image */
.image-items:hover {
    transform: scale(1.01);
    transition: transform 200ms;
    overflow: hidden;
    z-index: 2;
}

.image-items:hover .description {
    opacity: 1;
}

fieldset {
    border: 5px solid var(--blue-gradient);
    border-radius: 10px;
    margin: 30px 0;
}
